<!-- footer start [[-->
<div class="foot">

  <div class="foot-info container">
    <p>Copyright
      <em>©</em> 2016-2025 {$tpshop_config['shop_info_store_name']} 版权所有 保留一切权利 备案号:{$tpshop_config['shop_info_record_no']}</p>
    <ul class="foot-chop">
      <!-- <li class="icbc">
        <a href="" target="_blank"></a>
      </li>
      <li class="alipay">
        <a href="" target="_blank"></a>
      </li>
      <li class="unionpay">
        <a href="" target="_blank"></a>
      </li>
      <li class="tenpay">
        <a href="" target="_blank"></a>
      </li>
      <li class="gongshang">
        <a href="" target="_blank"></a>
      </li>
      <li class="sh-letter">
        <a href="" target="_blank"></a>
      </li> -->
      <li class="honesty">
        <a href="" target="_blank"></a>
      </li>
      <li>
        <a href="" target="_blank">
          <img src="__STATIC__/images/time_cnnic.jpg"> </a>
      </li>
      <li>
        <a href="" target="_blank">
          <img src="__STATIC__/images/aqlm.jpg"> </a>
      </li>
    </ul>
  </div>
</div>
<script type="text/javascript" src="__STATIC__/js/jquery.lazyload.js"></script>
<script src="__PUBLIC__/js/global.js"></script>
<script type="text/javascript" src="__STATIC__/js/common.js"></script>
<!-- footer end ]]-->