<footer>
  
  <div class="wrapper" id="global-footer" style="width: 100%;">
    <p class="copyright">Copyright © 2016-2025 {$tpshop_config['shop_info_store_name']} 版权所有 保留一切权利 备案号:{$tpshop_config['shop_info_record_no']}</p>
    <dl class="authentic">
      <!-- <a target="_blank" href="" taregt="_blank"><dd class="sgs"></dd></a> -->
      <a target="_blank" href="" taregt="_blank">
        <dd class="zx110"></dd>
      </a>
      <a target="_blank" href="" taregt="_blank">
        <img src="__STATIC__/images/time_cnnic.jpg">
      </a>
      <a target="_blank" href="" taregt="_blank" class="aqlm">
        <img src="__STATIC__/images/aqlm.jpg">
      </a>
    </dl>
  </div>
  <!-- /#global-footer -->
</footer>